<app-nav-bar></app-nav-bar>

<div class="tr-breadcrumb bg-image section-before">
  <div class="container">
    <div class="breadcrumb-info text-center">
      <div class="breadcrumb-logo">
        <img
          src="../../assets/images/others/company-logo.png"
          alt="Logo"
          class="img-fluid"
        />
        <!-- <img src="{{'data:image/png;base64,'+company_image}}" alt=""> -->

      </div>
      <div class="page-title">
        <h1 *ngIf="company_data">{{company_data.company_name}}</h1>
        <!-- <img src="{{'data:image/png;base64,'+company_image}}" alt=""> -->
      </div>
      <ul class="job-meta tr-list list-inline">
        <li *ngIf="company_data">
          <i class="fa fa-map-marker" aria-hidden="true" ></i>{{company_data.country_of_origin}}, {{company_data.state}}, {{company_data.city}}
        </li>
        <li *ngIf="company_data"><i class="fa fa-phone" aria-hidden="true"></i>{{company_data.phone_number}}</li>
        <li>
          <i class="fa fa-envelope" aria-hidden="true"></i
          ><a href="#"
            ><span *ngIf="company_data"
              class="__cf_email__"
              data-cfemail="d1a2a4a1a1bea3a591b6bebeb6bdb4ffb2bebc"
              >[{{company_data.email_address}}]</span
            ></a
          >
        </li>
        <li *ngIf="company_specialization_data"><i class="fa fa-briefcase" aria-hidden="true"></i> Deal with [ {{company_specialization_data}} ]</li>
        <li *ngIf="company_data">
          <i class="fa fa-black-tie" aria-hidden="true"></i>{{company_data.company_owner}} Company
        </li>
      </ul>
      <ul class="breadcrumb-social social-icon-bg tr-list">
        <li>
          <a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter"></i> <span>Twitter</span> </a>
        </li>
        <li>
          <a href="#"
            ><i class="fa fa-google-plus"></i> <span>Google Plus</span>
          </a>
        </li>
        <li>
          <a href="#"><i class="fa fa-linkedin"></i><span>Linkedin</span> </a>
        </li>
        <li>
          <a href="#"><i class="fa fa-dribbble"></i> <span>Dribbble</span></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-behance"></i> <span>Behance</span></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-globe"></i> <span>Website</span> </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="tr-profile section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="tr-sidebar">
          <ul class="nav nav-tabs profile-tabs section" role="tablist">
            <li role="presentation">
              <a style="cursor: pointer;"
              (click)="gotoEditMyProfile()"
                aria-controls="account-info"
                role="tab"
                data-toggle="tab"
                ><i class="fa fa-life-ring" aria-hidden="true"></i> Account
                Info</a
              >
            </li>
            <li role="presentation">
              <a class="active"
                (click)="gotoEditMyProfile2()"
                aria-controls="archived"
                role="tab"
                data-toggle="tab"
                ><span><i class="fa fa-clone" aria-hidden="true"></i></span
                >Modfy My Profile</a
              >
            </li>
            <li role="presentation">
              <a style="cursor: pointer;" (click)="log_out()"
                ><span><i class="fa fa-scissors" aria-hidden="true"></i></span
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 col-lg-9">
        <div class="tab-content">
          <div
            role="tabpanel"
            class="tab-pane fade in show active account-info"
            id="account-info"
          >
            <div class="tr-fun-fact">
              <div class="row">
                <div class="col-sm-4">
                  <div class="fun-fact media">
                    <div class="fun-fact-icon">
                      <img
                        src="../../assets/images/icons/fun-fact4.png"
                        alt="images"
                        class="img-fluid"
                      />
                    </div>
                    <div class="media-body">
                      <h1 class="counter" *ngIf="count_my_jobs">{{count_my_jobs}}</h1>
                      <span>Total job post</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="fun-fact media">
                    <div class="fun-fact-icon">
                      <img
                        src="../../assets/images/icons/fun-fact5.png"
                        alt="images"
                        class="img-fluid"
                      />
                    </div>
                    <div class="media-body">
                      <h1 class="counter" *ngIf="count_all_application_submitted">{{count_all_application_submitted}}</h1>
                      <span>Application submit</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="fun-fact media">
                    <div class="fun-fact-icon">
                      <img
                        src="../../assets/images/icons/fun-fact6.png"
                        alt="images"
                        class="img-fluid"
                      />
                    </div>
                    <div class="media-body">
                      <h1 class="counter" *ngIf="count_all_success_application_submitted">{{count_all_success_application_submitted}}</h1>
                      <span>Call for interview</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section resume-last-updated">
              <span class="icon pull-left"
                ><img src="../../assets/images/icons/1.png" alt="Icon" class="img-fluid"
              /></span>
              <div class="updated-info">
                <span class="pull-left">Establishment Date</span>
                <span class="pull-right">{{company_data.establishment_date  }}</span>
              </div>
            </div>
            <div class="section display-information">
              <div class="title title-after">
                <div class="icon">
                  <img src="../../assets/images/icons/2.png" alt="Icon" class="img-fluid" />
                </div>
                <span>Modify Your information</span>
              </div>
              <form class="example-form" (ngSubmit)="modifyData()">
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Company Name <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" [(ngModel)]="company_model.company_name" placeholder="Company Name" name="company_name">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Owner <span style="color: red;">*</span></label>
                      <select id="" class="form-control" name="company_owner" [(ngModel)]="company_model.company_owner">
                        <option disabled>Choose Owner</option>
                        <option value="Private">Private</option>
                        <option value="Government">Government</option>
                      </select>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Company Mailing Address <span style="color: red;">*</span></label>
                      <input type="email" class="form-control" placeholder="Company Mailing Address" name="company_mailing_address" [(ngModel)]="company_model.company_mailing_address">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">City <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" placeholder="City" name="city" [(ngModel)]="company_model.city">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">State <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" placeholder="State" name="state" [(ngModel)]="company_model.state">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Zip Code <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" placeholder="Zip Code" name="zip_code" [(ngModel)]="company_model.zip_code">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Country <span style="color: red;">*</span></label>
                      <select id="" class="form-control" name="country_of_origin" [(ngModel)]="company_model.country_of_origin">
                        <option value="">Choose Country</option>
                        <option *ngFor="let c of countries" [value]="c.name">{{c.name}}</option>
                      </select>
                  </div>
                </div>

                <hr><hr>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Phone Number <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" placeholder="Phone Number" name="phone_number" [(ngModel)]="company_model.phone_number">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Web Site <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" placeholder="Web Site" name="company_website" [(ngModel)]="company_model.company_website">
                  </div>
                </div>

                <hr>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Company Description<span style="color: red;">*</span></label>
                      <textarea name="" id="" class="form-control" name="company_description" [(ngModel)]="company_model.company_description">Company Description</textarea>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Company Establishment Date</label>
                     <input type="date" class="form-control"  name="establishment_date" [(ngModel)]="company_model.establishment_date">
                  </div>
                </div>

                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary" style="width: 50%;">Modify</button>
                </div>

              </div>

            </form>
            <br>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

