<header class="tr-header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid " >
      <h1 style="margin: auto; color:chocolate;font-family:Cursive" ><b>Portal Talent Zanzibar</b></h1>
    </div>
  </nav>
  </header>
<header class="tr-header">
  <nav class="navbar navbar-expand-lg">
      <div class="container">
          <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
              </button>
              <a class="navbar-brand" style="cursor: pointer;" (click)="home_page()"><img class="img-fluid" src="assets/images/icons/category2.png" alt="Logo"></a>
          </div>


          <div class="collapse navbar-collapse" id="navbarNav" *ngIf="!check_login">
            <ul class="nav navbar-nav">
                <li class="tr-dropdown active"><a style="cursor: pointer;"  (click)="home_page()">Home</a>
                </li>
            </ul>
        </div>

          <div class="collapse navbar-collapse" id="navbarNav" *ngIf="check_role == 'Company'">
              <ul class="nav navbar-nav">
                  <li class="tr-dropdown active"><a style="cursor: pointer;" (click)="home_page()">Home</a>
                  </li>
                  <li><a style="cursor: pointer;" (click)="job_post_page()">Post A Job</a></li>
                  <li><a style="cursor: pointer;" (click)="job_list_page()">Job List</a></li>
                  <li *ngIf="check_login"><a style="cursor: pointer;" (click)="my_profile_page()">My Profile</a></li>
              </ul>
          </div>

          <div class="collapse navbar-collapse" id="navbarNav" *ngIf="check_role == 'Seeker'">
            <ul class="nav navbar-nav">
                <li class="tr-dropdown active"><a style="cursor: pointer;" (click)="home_page()">Home</a>
                </li>
                <li><a style="cursor: pointer;" (click)="job_list_page()">Job List</a></li>
                <li *ngIf="check_login"><a style="cursor: pointer;" (click)="my_profile_page()">My Profile</a></li>
            </ul>
        </div>

          <div class="navbar-right" *ngIf="check_login">
              <ul class="sign-in tr-list">
                <li><i class="fa fa-user"></i></li>
                <li><a style="cursor: pointer;">{{username}}   </a></li>
                  <li><a (click)="log_out()" style="cursor: pointer;">    Sign Out </a></li>
              </ul>
          </div>

          <div class="navbar-right" *ngIf="!check_login">
            <ul class="sign-in tr-list">
                <li><i class="fa fa-user"></i></li>
                <li><a style="cursor: pointer;" (click)="sign_in_page()">Sign In </a></li>
                <li><a style="cursor: pointer;" (click)="registration_in_page()">Register</a></li>
            </ul>
        </div>
      </div>
  </nav>

</header>
