<!-- navbar -->
<app-nav-bar></app-nav-bar>
<!-- nav_bar -->

<div class="tr-banner section-before bg-image">
  <div class="container">
    <div class="banner-content text-center">
      <h1>The Easiest Way to Get Your New Job</h1>
      <h2>We offer 12000 jobs vacation right now</h2>
      <div class="banner-form">
        <form>
          <input type="text" #search class="form-control" placeholder="Job Keyword" />
          <button type="submit" class="btn btn-primary" (click)="searchJob(search.value)" value="Search">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="tr-category section-padding">
  <div class="container">
    <div class="section-title">
      <h1>Browse Jobs By Category</h1>
    </div>
    <ul class="category-list tr-list">
      <li *ngFor="let type of type_data">
        <a style="cursor: pointer;" (click)="goToList(type.job_type)">
          <span class="icon">
            <img
              src="../../../assets/images/icons/category1.png"
              alt="Icon"
              class="img-fluid"
            />
          </span>
          <span class="category-title">{{type.job_type}}</span>
          <span class="category-quantity">({{type.number_of_post}})</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="tr-job-posted section-padding" *ngIf="display_result">
  <div class="container">
    <div class="section-title">
      <h1>Search result for keyword "{{search_result}}"</h1>
    </div>
    <div class="job-tab text-center">
      <div class="tab-content text-left">
        <div role="tabpanel" class="tab-pane fade show active" id="hot-jobs">

          <div class="row" *ngIf="check_role == 'Company'">
            <div class="col-md-6 col-lg-3"  *ngFor="let j of jobs">
              <div class="job-item">
                <div class="item-overlay">
                  <div class="job-info">
                    <a style="cursor: pointer;" class="btn btn-primary">{{j.job_category}}</a>
                    <span class="tr-title">
                      <a>{{j.job_tittle}}r</a>
                      <span><a>{{j.job_tittle}}</a></span>
                    </span>
                    <ul class="tr-list job-meta">
                      <li>
                        <i class="fa fa-map-signs" aria-hidden="true"></i>
                        {{j.country}}, {{j.state}}
                      </li>
                      <li>
                        <i class="fa fa-briefcase" aria-hidden="true"></i>{{j.experience_level}}
                      </li>
                      <li>
                        <i class="fa fa-money" aria-hidden="true"></i>{{j.salary_information}}
                      </li>
                      <li>
                        <span><i class="fa fa-calendar" aria-hidden="true"></i></span
                        >Deadline : {{j.end_date}}
                      </li>
                    </ul>
                    <ul class="job-social tr-list">
                      <li>
                        <a style="cursor: pointer;" (click)="goToDetails(j.job_post_id)"
                          ><i
                            class="fa fa-long-arrow-right"
                            aria-hidden="true"
                          ></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="job-info">
                  <div class="company-logo">
                    <img src="../../../assets/images/job/1.png" alt="images" class="img-fluid" />
                  </div>
                  <span class="tr-title">
                    <a>{{j.job_tittle}}</a>
                    <span><a>{{j.job_type}}</a></span>
                  </span>
                  <ul class="tr-list job-meta">
                    <li>
                      <span
                        ><i class="fa fa-map-signs" aria-hidden="true"></i></span
                      >{{j.country}}, {{j.state}}, {{j.city}}
                    </li>
                    <li>
                      <span
                        ><i class="fa fa-briefcase" aria-hidden="true"></i></span
                      >{{j.experience_level}}
                    </li>
                    <li>
                      <span><i class="fa fa-money" aria-hidden="true"></i></span
                      >{{j.salary_information}}
                    </li>
                    <li>
                      <span><i class="fa fa-calendar" aria-hidden="true"></i></span
                      >Deadline : {{j.end_date}}
                    </li>
                  </ul>
                  <div class="time">
                    <a style="cursor: pointer;"><span>{{j.job_category}}</span></a>
                    <span class="pull-right">{{j.required_people}}  Posts</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="check_role == 'Seeker'">
            <div class="col-md-6 col-lg-3" *ngFor="let j2 of jobs_2">
              <div class="job-item">
                <div class="item-overlay">
                  <div class="job-info">
                    <a class="btn btn-primary">{{j2.job_category}}</a>
                    <span class="tr-title">
                      <a>{{j2.job_tittle}}r</a>
                      <span><a>{{j2.job_tittle}}</a></span>
                    </span>
                    <ul class="tr-list job-meta">
                      <li>
                        <i class="fa fa-map-signs" aria-hidden="true"></i>
                        {{j2.country}}, {{j2.state}}
                      </li>
                      <li>
                        <i class="fa fa-briefcase" aria-hidden="true"></i>{{j2.experience_level}}
                      </li>
                      <li>
                        <i class="fa fa-money" aria-hidden="true"></i>{{j2.salary_information}}
                      </li>
                      <li>
                        <span><i class="fa fa-calendar" aria-hidden="true"></i></span
                        >Deadline : {{j2.end_date}}
                      </li>
                    </ul>
                    <ul class="job-social tr-list">
                      <li>
                        <a (click)="goToDetails(j2.job_post_id)"
                          ><i
                            class="fa fa-long-arrow-right"
                            aria-hidden="true"
                          ></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="job-info">
                  <div class="company-logo">
                    <img src="../../../assets/images/job/1.png" alt="images" class="img-fluid" />
                  </div>
                  <span class="tr-title">
                    <a>{{j2.job_tittle}}</a>
                    <span><a>{{j2.job_type}}</a></span>
                  </span>
                  <ul class="tr-list job-meta">
                    <li>
                      <span
                        ><i class="fa fa-map-signs" aria-hidden="true"></i></span
                      >{{j2.country}}, {{j2.state}}, {{j2.city}}
                    </li>
                    <li>
                      <span
                        ><i class="fa fa-briefcase" aria-hidden="true"></i></span
                      >{{j2.experience_level}}
                    </li>
                    <li>
                      <span><i class="fa fa-money" aria-hidden="true"></i></span
                      >{{j2.salary_information}}
                    </li>
                    <li>
                      <span><i class="fa fa-calendar" aria-hidden="true"></i></span
                      >Deadline : {{j2.end_date}}
                    </li>
                  </ul>
                  <div class="time">
                    <a><span>{{j2.job_category}}</span></a>
                    <span class="pull-right">{{j2.required_people}}  Posts</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ikiwa c seeker wala company -->
          <!-- ================================================================ -->
          <div class="row" *ngIf="check_role != 'Seeker' && check_role != 'Company'">
            <div class="col-md-6 col-lg-3" *ngFor="let j2 of jobs_2">
              <div class="job-item">
                <div class="item-overlay">
                  <div class="job-info">
                    <a class="btn btn-primary">{{j2.job_category}}</a>
                    <span class="tr-title">
                      <a>{{j2.job_tittle}}r</a>
                      <span><a>{{j2.job_tittle}}</a></span>
                    </span>
                    <ul class="tr-list job-meta">
                      <li>
                        <i class="fa fa-map-signs" aria-hidden="true"></i>
                        {{j2.country}}, {{j2.state}}
                      </li>
                      <li>
                        <i class="fa fa-briefcase" aria-hidden="true"></i>{{j2.experience_level}}
                      </li>
                      <li>
                        <i class="fa fa-money" aria-hidden="true"></i>{{j2.salary_information}}
                      </li>
                      <li>
                        <span><i class="fa fa-calendar" aria-hidden="true"></i></span
                        >Deadline : {{j2.end_date}}
                      </li>
                    </ul>
                    <ul class="job-social tr-list">
                      <li>
                        <a (click)="goToDetails(j2.job_post_id)"
                          ><i
                            class="fa fa-long-arrow-right"
                            aria-hidden="true"
                          ></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="job-info">
                  <div class="company-logo">
                    <img src="../../../assets/images/job/1.png" alt="images" class="img-fluid" />
                  </div>
                  <span class="tr-title">
                    <a>{{j2.job_tittle}}</a>
                    <span><a>{{j2.job_type}}</a></span>
                  </span>
                  <ul class="tr-list job-meta">
                    <li>
                      <span
                        ><i class="fa fa-map-signs" aria-hidden="true"></i></span
                      >{{j2.country}}, {{j2.state}}, {{j2.city}}
                    </li>
                    <li>
                      <span
                        ><i class="fa fa-briefcase" aria-hidden="true"></i></span
                      >{{j2.experience_level}}
                    </li>
                    <li>
                      <span><i class="fa fa-money" aria-hidden="true"></i></span
                      >{{j2.salary_information}}
                    </li>
                    <li>
                      <span><i class="fa fa-calendar" aria-hidden="true"></i></span
                      >Deadline : {{j2.end_date}}
                    </li>
                  </ul>
                  <div class="time">
                    <a><span>{{j2.job_category}}</span></a>
                    <span class="pull-right">{{j2.required_people}}  Posts</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

                    <!-- ikiwa c seeker wala company -->
          <!-- ================================================================ -->

        </div>
      </div>
    </div>
  </div>
</div>


<div class="tr-job-posted section-padding" *ngIf="display_category">
  <div class="container">
    <div class="section-title">
      <h1>Job list for type  "{{type_name}}"</h1>
    </div>
    <div class="job-tab text-center">
      <div class="tab-content text-left">
        <div role="tabpanel" class="tab-pane fade show active" id="hot-jobs">

          <div class="row" *ngIf="check_role == 'Company'">
            <div class="col-md-6 col-lg-3"  *ngFor="let j of jobs">
              <div class="job-item">
                <div class="item-overlay">
                  <div class="job-info">
                    <a style="cursor: pointer;" class="btn btn-primary">{{j.job_category}}</a>
                    <span class="tr-title">
                      <a>{{j.job_tittle}}r</a>
                      <span><a>{{j.job_tittle}}</a></span>
                    </span>
                    <ul class="tr-list job-meta">
                      <li>
                        <i class="fa fa-map-signs" aria-hidden="true"></i>
                        {{j.country}}, {{j.state}}
                      </li>
                      <li>
                        <i class="fa fa-briefcase" aria-hidden="true"></i>{{j.experience_level}}
                      </li>
                      <li>
                        <i class="fa fa-money" aria-hidden="true"></i>{{j.salary_information}}
                      </li>
                      <li>
                        <span><i class="fa fa-calendar" aria-hidden="true"></i></span
                        >Deadline : {{j.end_date}}
                      </li>
                    </ul>
                    <ul class="job-social tr-list">
                      <li>
                        <a style="cursor: pointer;" (click)="goToDetails(j.job_post_id)"
                          ><i
                            class="fa fa-long-arrow-right"
                            aria-hidden="true"
                          ></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="job-info">
                  <div class="company-logo">
                    <img src="../../../assets/images/job/1.png" alt="images" class="img-fluid" />
                  </div>
                  <span class="tr-title">
                    <a>{{j.job_tittle}}</a>
                    <span><a>{{j.job_type}}</a></span>
                  </span>
                  <ul class="tr-list job-meta">
                    <li>
                      <span
                        ><i class="fa fa-map-signs" aria-hidden="true"></i></span
                      >{{j.country}}, {{j.state}}, {{j.city}}
                    </li>
                    <li>
                      <span
                        ><i class="fa fa-briefcase" aria-hidden="true"></i></span
                      >{{j.experience_level}}
                    </li>
                    <li>
                      <span><i class="fa fa-money" aria-hidden="true"></i></span
                      >{{j.salary_information}}
                    </li>
                    <li>
                      <span><i class="fa fa-calendar" aria-hidden="true"></i></span
                      >Deadline : {{j.end_date}}
                    </li>
                  </ul>
                  <div class="time">
                    <a style="cursor: pointer;"><span>{{j.job_category}}</span></a>
                    <span class="pull-right">{{j.required_people}}  Posts</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="check_role == 'Seeker'">
            <div class="col-md-6 col-lg-3" *ngFor="let j2 of jobs_2">
              <div class="job-item">
                <div class="item-overlay">
                  <div class="job-info">
                    <a class="btn btn-primary">{{j2.job_category}}</a>
                    <span class="tr-title">
                      <a>{{j2.job_tittle}}r</a>
                      <span><a>{{j2.job_tittle}}</a></span>
                    </span>
                    <ul class="tr-list job-meta">
                      <li>
                        <i class="fa fa-map-signs" aria-hidden="true"></i>
                        {{j2.country}}, {{j2.state}}
                      </li>
                      <li>
                        <i class="fa fa-briefcase" aria-hidden="true"></i>{{j2.experience_level}}
                      </li>
                      <li>
                        <i class="fa fa-money" aria-hidden="true"></i>{{j2.salary_information}}
                      </li>
                      <li>
                        <span><i class="fa fa-calendar" aria-hidden="true"></i></span
                        >Deadline : {{j2.end_date}}
                      </li>
                    </ul>
                    <ul class="job-social tr-list">
                      <li>
                        <a (click)="goToDetails(j2.job_post_id)"
                          ><i
                            class="fa fa-long-arrow-right"
                            aria-hidden="true"
                          ></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="job-info">
                  <div class="company-logo">
                    <img src="../../../assets/images/job/1.png" alt="images" class="img-fluid" />
                  </div>
                  <span class="tr-title">
                    <a>{{j2.job_tittle}}</a>
                    <span><a>{{j2.job_type}}</a></span>
                  </span>
                  <ul class="tr-list job-meta">
                    <li>
                      <span
                        ><i class="fa fa-map-signs" aria-hidden="true"></i></span
                      >{{j2.country}}, {{j2.state}}, {{j2.city}}
                    </li>
                    <li>
                      <span
                        ><i class="fa fa-briefcase" aria-hidden="true"></i></span
                      >{{j2.experience_level}}
                    </li>
                    <li>
                      <span><i class="fa fa-money" aria-hidden="true"></i></span
                      >{{j2.salary_information}}
                    </li>
                    <li>
                      <span><i class="fa fa-calendar" aria-hidden="true"></i></span
                      >Deadline : {{j2.end_date}}
                    </li>
                  </ul>
                  <div class="time">
                    <a><span>{{j2.job_category}}</span></a>
                    <span class="pull-right">{{j2.required_people}}  Posts</span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- categoryakiwa c seeker wala company -->
          <div class="row" *ngIf="check_role != 'Seeker' && check_role != 'Company'">
            <div class="col-md-6 col-lg-3" *ngFor="let j2 of jobs_2">
              <div class="job-item">
                <div class="item-overlay">
                  <div class="job-info">
                    <a class="btn btn-primary">{{j2.job_category}}</a>
                    <span class="tr-title">
                      <a>{{j2.job_tittle}}r</a>
                      <span><a>{{j2.job_tittle}}</a></span>
                    </span>
                    <ul class="tr-list job-meta">
                      <li>
                        <i class="fa fa-map-signs" aria-hidden="true"></i>
                        {{j2.country}}, {{j2.state}}
                      </li>
                      <li>
                        <i class="fa fa-briefcase" aria-hidden="true"></i>{{j2.experience_level}}
                      </li>
                      <li>
                        <i class="fa fa-money" aria-hidden="true"></i>{{j2.salary_information}}
                      </li>
                      <li>
                        <span><i class="fa fa-calendar" aria-hidden="true"></i></span
                        >Deadline : {{j2.end_date}}
                      </li>
                    </ul>
                    <ul class="job-social tr-list">
                      <li>
                        <a (click)="goToDetails(j2.job_post_id)"
                          ><i
                            class="fa fa-long-arrow-right"
                            aria-hidden="true"
                          ></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="job-info">
                  <div class="company-logo">
                    <img src="../../../assets/images/job/1.png" alt="images" class="img-fluid" />
                  </div>
                  <span class="tr-title">
                    <a>{{j2.job_tittle}}</a>
                    <span><a>{{j2.job_type}}</a></span>
                  </span>
                  <ul class="tr-list job-meta">
                    <li>
                      <span
                        ><i class="fa fa-map-signs" aria-hidden="true"></i></span
                      >{{j2.country}}, {{j2.state}}, {{j2.city}}
                    </li>
                    <li>
                      <span
                        ><i class="fa fa-briefcase" aria-hidden="true"></i></span
                      >{{j2.experience_level}}
                    </li>
                    <li>
                      <span><i class="fa fa-money" aria-hidden="true"></i></span
                      >{{j2.salary_information}}
                    </li>
                    <li>
                      <span><i class="fa fa-calendar" aria-hidden="true"></i></span
                      >Deadline : {{j2.end_date}}
                    </li>
                  </ul>
                  <div class="time">
                    <a><span>{{j2.job_category}}</span></a>
                    <span class="pull-right">{{j2.required_people}}  Posts</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
